@model ClinicaVeterinaria.Models.Visita

@{
    ViewData["Title"] = "Modifica Visita";
}

<h1>Modifica Visita</h1>

<h4>Visita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="DataVisita" class="control-label"></label>
                <input asp-for="DataVisita" class="form-control" />
                <span asp-validation-for="DataVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimaleId" class="control-label"></label>
                <input asp-for="AnimaleId" class="form-control" readonly />
                <span asp-validation-for="AnimaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anamnesi" class="control-label"></label>
                <input asp-for="Anamnesi" class="form-control" />
                <span asp-validation-for="Anamnesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cura" class="control-label"></label>
                <input asp-for="Cura" class="form-control" />
                <span asp-validation-for="Cura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Indietro alla lista</a>
</div>
