@{
    ViewData["Title"] = "Pagina Amministratore";
}

<h2>@ViewData["Title"]</h2>
<p>Benvenuto nella dashboard dell'amministratore.</p>

<a class="button text-decoration-none" asp-area="" asp-antifo=""
   asp-controller="User" asp-action="CreateAdmin">Crea nuovo utente</a>
