@{
    ViewData["Title"] = "Pagina Farmacista";
}
<div class="text-center">
    <img src="~/img/icona_farmacista.svg" class="w-25" />
    <h2>@ViewData["Title"]</h2>
    <p>Benvenuto @User.Identity.Name</p>

    <div class="d-flex justify-content-center gap-3 flex-wrap">

        <a class="buttonFarma text-decoration-none" asp-area=""
           asp-controller="Prodotto" asp-action="Create">Aggiungi Prodotto</a>

        <a class="buttonFarma text-decoration-none" asp-area=""
           asp-controller="Prodotto" asp-action="IndexProdotti">Visualizza Prodotti</a>

        <a class="buttonFarma text-decoration-none" asp-area=""
           asp-controller="Prodotto" asp-action="RicercaProdotto">Ricerca Prodotto</a>

        <a class="buttonFarma text-decoration-none" asp-area=""
           asp-controller="Vendite" asp-action="Create">Gestisci una nuova Vendita</a>

           <a class="buttonFarma text-decoration-none" asp-area=""
           asp-controller="Vendite" asp-action="Index">Controlla tutte le Vendite</a>

        <a class="buttonFarma text-decoration-none text-center" asp-area=""
           asp-controller="Prodotto" asp-action="IndexCaseFarmaceutiche">
            Visualizza Case Farmaceutiche
        </a>

    </div>
</div>
