@model ClinicaVeterinaria.Models.Animale

@{
    ViewData["Title"] = "Modifica";
}

<h1><img src="~/img/logo piccolo.svg" /> @ViewData["Title"]</h1>

<h4>Animale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipologiaAnimale" class="control-label"></label>
                <input asp-for="TipologiaAnimale" class="form-control" />
                <span asp-validation-for="TipologiaAnimale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColoreManto" class="control-label"></label>
                <input asp-for="ColoreManto" class="form-control" />
                <span asp-validation-for="ColoreManto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>

            @if (Model.PossiedeChip && !string.IsNullOrEmpty(Model.NumeroChip))
            {
                <!-- Mostra il campo per modificare il numero del chip -->
                <div class="form-group">
                    <label asp-for="NumeroChip" class="control-label"></label>
                    <input asp-for="NumeroChip" class="form-control" />
                    <span asp-validation-for="NumeroChip" class="text-danger"></span>
                </div>
            }
            else
            {
                <!-- Bottone per aggiungere il numero del chip -->
                <div class="form-group">
                    <button type="button" class="btn btn-success" id="addChipButton">Aggiungi Numero Chip</button>
                </div>

                <!-- Campo per inserire il numero del chip, nascosto inizialmente -->
                <div class="form-group" id="chipField" style="display:none;">
                    <label asp-for="NumeroChip" class="control-label"></label>
                    <input asp-for="NumeroChip" class="form-control" />
                    <span asp-validation-for="NumeroChip" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label class="control-label">Foto attuale</label>
                @if (!string.IsNullOrEmpty(Model.Foto))
                {
                    <div class="mb-3">
                        <img src="@Url.Content($"~/{Model.Foto}")" alt="Foto Animale" class="img-fluid" />
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" name="EliminaFoto" class="form-check-input" id="EliminaFoto">
                            <label class="form-check-label" for="EliminaFoto">Elimina foto</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <p>Non ci sono foto attualmente disponibili per questo animale.</p>
                    </div>
                }
            </div>

            <div class="form-group">
                <label for="img" class="control-label"></label>
                <input id="img" name="img" class="form-control" type="file" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Randagio" /> @Html.DisplayNameFor(model => model.Randagio)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Indietro alla lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addChipButton = document.getElementById('addChipButton');
            const chipField = document.getElementById('chipField');

            if (addChipButton) {
                addChipButton.addEventListener('click', function () {
                    // Mostra il campo per inserire il numero del chip
                    chipField.style.display = 'block';
                    // Nascondi il pulsante per aggiungere il chip
                    addChipButton.style.display = 'none';
                });
            }
        });
    </script>
}
